<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <header>

    <h1>
      <%= message %>
    </h1>
    <p>이 페이지는 Express와 EJS로 렌더링되었습니다.</p>

  </header>
  <main>

    <div class="FirstSection">

      <div class="DropBox">

        <div class="DropBoxIcon">

        </div>

        <div class="DropBoxText">

          파일 또는 링크를 드래그 앤 드롭하세요.

        </div>



      </div>

      <div class="BoxTitle">추가된 목록</div>

      <div class="DropListBox">


      </div>


    </div>

    <div class="SecondSection">

      <div class="BoxTitle">출처 표기 스타일</div>

      <div class="StyleBox">

      </div>

      <div class="BoxTitle">생성 예시</div>

      <div class="ExBox">

      </div>

      <div class="BoxTitle">세부 설정</div>

      <div class="SetBox">



      </div>

      <div class="BtnBox">

        <button>생성</button>

      </div>


    </div>


  </main>
  <footer>

  </footer>
</body>

</html>